%h2.title.is-3
  Objetivo
%p
  Sitio web que presente información objetiva sobre andar en bicicleta en Montevideo. El objetivo final es concientizar y lograr mejores condiciones para los ciclistas. ¡Toda idea y aporte es bienvenido!

%p
  Usar Datos Abiertos de la UNASEV y la Intendencia de Montevideo. Mostrar infraestructura vial apta para bicicletas y más información pertinente.

%h2.title.is-3
  Contacto
%p
  Mi correo electrónico:
  %code
    fernando [a] picandocodigo.net
  o en Twitter:
  %a{href:"http://twitter.com/picandocodigo", target:"_blank"}
    @picandocodigo

%h2.title.is-3
  Datos Abiertos
%p
  Algunos de los datos:
  %ul
    %li
      %a{href: "https://www.gub.uy/unidad-nacional-seguridad-vial/datos-y-estadisticas/datos-abiertos"}
        Datos Abiertos de UNASEV
    %li
      %a{href: 'https://catalogodatos.gub.uy/dataset/intendencia-montevideo-bicicircuitos-bicicletarios-estaciones-y-talleres-de-reparacion', target: '_blank'}
        Bicicircuitos, bicicletarios, estaciones y talleres de reparación

%h2.title.is-3
  Software Libre
%p
  El código fuente de este sitio está disponible como software libre <a href="http://github.com/picandocodigo/montevideo-bicis" target="_blank">en GitHub</a>.
