%h2 Objetivo
%p
  Sitio web que presente información objetiva sobre andar en bicicleta en Montevideo.

%p
  Usar Datos Abiertos de la UNASEV y la Intendencia de Montevideo. Mostrar infraestructura vial apta para bicicletas y más información pertinente.

%h2 Contacto
%p
  Mi correo electrónico:
  %code
    fernando [a] picandocodigo.net
  o en Twitter:
  %a{href:"http://twitter.com/picandocodigo", target:"_blank"}
    @picandocodigo

%h2 Datos Abiertos
%p
  Algunos de los datos:
  %ul
    %li
      %a{href: "http://unasev.gub.uy/inicio/sinatran/datos_abiertos/2012"}
        Fallecidos 2012
    %li
      %a{href: "http://unasev.gub.uy/inicio/sinatran/datos_abiertos/2011/"}
        2011
        \- Heridos y Fallecidos, Fallecidos por Departamento por mes, Fallecidos por Jurisdicción.
    %li
      %a{href: 'https://catalogodatos.gub.uy/dataset/bicicircuitos-bicicletarios-estaciones-y-talleres-de-reparacion', target: '_blank'}
        Bicicircuitos, bicicletarios, estaciones y talleres de reparación

%h2 Multimedia
Imagen de fondo por
%a{href:'https://www.flickr.com/photos/rtarga/', target: '_blank'}
  Renato Targa
bajo licencia
%a{href: 'https://creativecommons.org/licenses/by-sa/2.0/', target: '_blank'}
  CC-BY-SA 2.0