%h2 Datos de personas fallecidas en accidentes de tránsito
.row
  .col-md-6.center
    <canvas id="chart" width="400" height="200"></canvas>
  .col-md-6
    %p
      Fuente:
      %a{href: 'http://unasev.gub.uy/inicio/sinatran/datos_abiertos/', target: '_blank'}
        Datos Abiertos de UNASEV
    %p
      Otros datos que se podrían parsear, pero están en PDF, deberíamos pedirlo en formato "Datos Abiertos":
      %br
        %a{href: 'http://unasev.gub.uy/inicio/sinatran/informes_siniestralidad_vial_uruguay/'}
          http://unasev.gub.uy/inicio/sinatran/informes_siniestralidad_vial_uruguay/

- [2017, 2016, 2015, 2014, 2013, 2012].each do |year|
  .row
    .col-md-12
      = haml :year_data, locals: {data: data[year], year: year}

%script{src: "js/Chart.min.js"}
%script{src: "js/data.js"}
