%h2 Datos de personas fallecidas en accidentes de tránsito

= haml :d2014, locals: {data: d2014}
= haml :d2013, locals: {data: d2013}
= haml :d2012, locals: {data: d2012}

%p
  Fuente:
  %a{href: 'http://unasev.gub.uy/inicio/sinatran/datos_abiertos/2012/'}
    Datos Abiertos de UNASEV 2012

%p
  Otros datos que se podrían parsear, pero están en PDF, deberíamos pedirlo en formato "Datos Abiertos":
  %br
  %a{href: 'http://unasev.gub.uy/inicio/sinatran/informes_siniestralidad_vial_uruguay/'}
    http://unasev.gub.uy/inicio/sinatran/informes_siniestralidad_vial_uruguay/