%h2.title Datos de personas fallecidas en accidentes de tránsito
.columns
  .column.is-two-fifths
    <canvas id="chart" width="400" height="200"></canvas>
  .column
    %p
      Fuente:
      %a{href: 'http://unasev.gub.uy/inicio/sinatran/datos_abiertos/', target: '_blank'}
        Datos Abiertos de UNASEV
    %p
      Otros datos que se podrían parsear, pero están en PDF, deberíamos pedirlo en formato "Datos Abiertos":
      %br
        %a{href: 'http://unasev.gub.uy/inicio/sinatran/informes_siniestralidad_vial_uruguay/'}
          http://unasev.gub.uy/inicio/sinatran/informes_siniestralidad_vial_uruguay/

- [2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012].each do |year|
  .columns
    .column.is-full
      = haml :year_data, locals: {data: data[year], year: year}

%script{src: "js/Chart.min.js"}
%script{src: "js/interactions.js"}
%script{src: "js/data.js"}
