%p
  Algunos sitios de interes, que te pueden dar mas informacion sobre la ley y para participar del movimiento.

%ul
  %li
    %a{href: "#unibici"}unibici
  %li
    %a{href:"#ciclovida"}Ciclovida
  %li
    %a{href:"#leydelabicicletauruguay"}Ley de la Bicicleta
  %li
    %a{href:"#masacriticamvd"}Masa Critica MVD
  %li
    %a{href:"#cosas"}Cosas en la Ciclovía
  %li
    %a{href:"#al_trabajo"}Al trabajo voy en Bici - Montevideo
.well
  %h2
    %a{href: "http://www.unibici.edu.uy/", name: "unibici", target: "_blank"}
      unibici
  %p
    Programa de la Universidad de la República para incentivar el uso de la bicicleta entre los universitarios por motivos de salud, ambientales, territoriales, económicos y de bienestar general.
    En el sitio pueden encontrar varios artículos y noticias sobre actividades, convocatorias, normativa y demás respecto al uso de las bicicletas en Montevideo.
  %p
.well
  %h2
    %a{href: "https://www.facebook.com/pg/ciclovidauy/", name: "ciclovida", target: "_blank"}
      Ciclovida
  %p Ciclovida surge con el firme propósito de ayudar a los demás. Promover y apoyar políticas de movilidad urbana. Porque la bicicleta es el transporte que contribuye a lograr una ciudad limpia, a reducir la contaminación, a descomprimir el tránsito vehicular. Promovemos algo mas que andar en bicicleta, investigamos, asesoramos, diseñamos e implementamos acciones para lograr cambios culturales que integren la bicicleta como un medio de transporte más. Nuestra aspiración armar es mecanismos y proyectos desde el poder civil que permitan desarrollar políticas publicas enfocadas en la transformación de comportamientos en la cultura ciudadana. Ciclovida es un espacio de reflexión e intercambio sobre como movernos mejor, ser punto de encuentro para aquellos que utilizan sus bicicletas para trasladarse todos los días a centros de estudio o trabajo en la ciudad, o usen las bicis para recreación o deporte. En Ciclovida queremos que la gente recupere la sensación de libertad, que establezca una relación directa y vívida con el paisaje cotidiano…es decir, reconquistar la “escala humana” de la ciudad.
  %p
.well
  %h2
    %a{href: "http://www.facebook.com/LeyDeLaBicicletaUruguay", name: "leydelabicicletauruguay", target: "_blank"}
      Ley de la Bicicleta

  %p Proyecto de Ley de la Bicicleta para Uruguay. El objetivo es promover, difundir y lograr el apoyo ciudadano para que la Ley sea aprobada por el Poder Legislativo del País. El presente proyecto de ley tiene por objeto promover y fomentar el uso de la bicicleta como medio de transporte. Asimismo, tiene por objeto establecer los principios, requerimientos y objetivos que permitan generar a nivel local, regional y nacional las condiciones necesarias para la plena integración de la bicicleta y los medios atracción humana a nuestro sistema vial, urbano y rural, a través de políticas públicas en los campos de la educación, la salud, el medio ambiente, el desarrollo social, la sociedad civil, y la participación territorial, garantizando una plena participación ciudadana en todos las etapas de este proceso. Como también, establecer las formas, condiciones y lineamientos para su uso y promoción.
  %p
.well
  %h2
    %a{href: "https://www.facebook.com/masacriticamvd", name: "masacriticamvd", target: "_blank"}
      Masa Critica MVD
  %p
    Masa Crítica es un fenómeno ciclista que tiene lugar todos los meses en numerosas ciudades del mundo. Su finalidad es dar a conocer las grandes ventajas que aportan a la movilidad, a la sociedad y al individuo, una mayor presencia de las bicicletas en las ciudades ... para reducir las molestias que causa el tráfico motorizado: ruido, contaminación, atascos, inseguridad. Y recalcar que usar la bici mejora nuestra salud y la de otros seres vivos, al reducir la contaminación por la combustión de derivados del petróleo que realizan autos, motos y ómnibus
  %p Las primeras celebraciones de la Masa Crítica tuvieron lugar en San Francisco (EEUU) en 1992. En un primer momento, acudieron tan sólo 58 personas, pero en menos de un año ya eran unos 500.
  %p
.well
  %h2
    %a{href: 'http://cosasenlaciclovia.tumblr.com/', target: '_blank', name: 'cosas'}
      Cosas en la ciclovía
  %p
    Sitio que documenta la inconciencia de la gente y su total desinterés y falta de respeto hacia las ciclovías.
  %p
.well
  %h2
    %a{href: 'https://twitter.com/al_bici', target: '_blank', name: 'al_trabajo'}
      Al trabajo voy en Bici - Montevideo
  %p
    Cuenta <a href="https://twitter.com/al_bici" target="_blank">en Twitter</a> e <a href="https://www.instagram.com/altrabajovoyenbici/" target="_blank">Instagram</a> que promueve el uso de la bicicleta en Montevideo.
