%h1 Sobre el sitio:

%h2 Objetivo
%p
  La nueva ley es una payasada. Me dan ganas de salir y prender fuego algo o romper cosas. En vez de eso quiero canalizar la energía de manera constructiva. Para eso quiero hacer un sitio web que presente información objetiva sobre andar en bicicleta en Montevideo.

%p
  En principio usar los datos abiertos de la UNASEV y la IM para evaluar si existe un problema grave (ejemplo: que mueran 10 ciclistas por día por accidentes de tránsito). Dejar en evidencia que no existe infraestructura vial en Montevideo como para andar exigiendo cosas a los ciclistas (esto intentar mostrarlo de la manera más cordial y objetiva posible). Que el casco, timbre, espejo y 4 luces ayudan a andar más seguro, pero no salvan vidas porque sí.

%h2 Funcionalidades

%h3 Básico

%p
%ul
  %li
    Mostrar la cantidad de accidentes de tránsito por año que involucren bicicletas y causas.
  %li
    Mostrar en un mapa la intersección (en lo posible, si no lo encuentra automáticamente, poder editar la ubicación).

%h4 Otros
%p
  Agregar información (noticias, artículos, etc.) que van sacando los entes sobre el tema. En UNASEV hay montón de PDF's para procesar y ver qué más información pueden dar.

%h2 Datos
%p
  Acá algunos de los datos que vengo encontrando:
  %ul
    %li
      %a{href: "http://unasev.gub.uy/inicio/sinatran/datos_abiertos/2012"}
        Fallecidos 2012
    %li
      %a{href: "http://unasev.gub.uy/inicio/sinatran/datos_abiertos/2011/"}
        2011
      %br
      Heridos y Fallecidos, Fallecidos por Departamento por mes, Fallecidos por Jurisdicción, creo que estos no sirven de nada.

Se pueden pedir más datos comunicándonos con UNASEV directamente o a través de
%a{href: "http://quesabes.org"}Qué Sabés
