%h1 Sobre el sitio:

%h2 Objetivo
%p
  Sitio web que presente información objetiva sobre andar en bicicleta en Montevideo.

%p
  En principio usar los datos abiertos de la UNASEV y la IM. Mostrar la infraestructura vial en Montevideo apta para bicicletas.

%h2 Funcionalidades

%h3 Básico

%p
%ul
  %li
    Mostrar la cantidad de accidentes de tránsito por año que involucren bicicletas y causas.
  %li
    Mostrar en un mapa la intersección (en lo posible, si no lo encuentra automáticamente, poder editar la ubicación).

%h4 Otros
%p
  En UNASEV hay archivos PDF's para procesar y ver qué más información pueden dar.

%h2 Datos
%p
  Acá algunos de los datos:
  %ul
    %li
      %a{href: "http://unasev.gub.uy/inicio/sinatran/datos_abiertos/2012"}
        Fallecidos 2012
    %li
      %a{href: "http://unasev.gub.uy/inicio/sinatran/datos_abiertos/2011/"}
        2011
      %br
      Heridos y Fallecidos, Fallecidos por Departamento por mes, Fallecidos por Jurisdicción.

Se pueden pedir más datos comunicándonos con UNASEV directamente o a través de
%a{href: "http://quesabes.org"}Qué Sabés
