
%h2 Funcionalidades

%h3 Básico

%ul
  %li
    Mostrar mapa con estructura vial de bicicletas en Montevideo.
  %li
    Mostrar la cantidad de accidentes de tránsito por año que involucren bicicletas y causas.
  %li
    Mostrar en un mapa la intersección (en lo posible, si no lo encuentra automáticamente, poder editar la ubicación).

%h4 Otros
%p
  En UNASEV hay archivos PDF's para procesar y ver qué más información pueden dar.
