%p
  Montevideo Bicis es un sitio que aprovecha distintos juegos de <a href="">Datos Abiertos</a> para mostrar información a ciclistas en la ciudad de Montevideo. Es un trabajo en progreso, se irá agregando más información útil y recursos con el tiempo.

%p
  El objetivo es tener información objetiva como herramienta para poder participar y exigir mejoras en la infraestructura vial y el marco legal para que tenga en cuenta al ciclista como ciudadano de primer nivel en las calles.

%h2 <a href="/mapa">Mapa</a>
%p
  Un mapa con información de los bicicircuitos de Montevideo, estacionamientos, talleres de reparación y estaciones <a href="http://movete.montevideo.gub.uy/" target="_blank">Movete</a> (préstamo de bicicletas públicas).

%h2 <a href="/data">Accidentes de tránsito</a>
%p
  Datos sobre los siniestros en accidentes de tránsito, discriminado por accidentes que involucran bicicletas.

%h2 Leyes
%p
  Las leyes sobre tránsito y seguridad vial señalando específicamente lo pertinente a la bicicleta.