!!! 5
%html
  %head
    %link{rel:'stylesheet', type: 'text/css', href:'css/bootstrap.min.css'}
    %link{rel:'stylesheet', type: 'text/css', href:'css/main.css'}
    %link{rel:'stylesheet', type: 'text/css', href:'css/bootstrap-responsive.css'}
    %meta{name: 'viewport', content:'width=device-width, initial-scale=1.0'}
    %script{src:'./js/bootstrap.min.js'}
    %script{src:'./js/jquery.min.js'}
    %title Website Title
  %body
    #container
      %header
        .navbar.nabvar-inversed.nabvar-fixed-top
          .navbar-inner
            .container
              .row
                .span3
                  %h1 Title
                .span4.offset9
                  %ul.nav
                    %li
                      %a{href: "/"}
                        Home
                    %li
                      %a{href: "/data"}
                        Data

      .container
        = yield