<!DOCTYPE html>
%html
  %head
    %link{ rel: 'stylesheet', type: 'text/css', href:'/css/main.css' }
    %link{ rel: 'stylesheet', href: 'https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css', crossorigin: 'anonymous' }
    %meta{ name: 'viewport', content:'width=device-width, initial-scale=1.0' }
    %script{src: 'js/interactions.js'}
    <link rel="shortcut icon" href="/img/favicon.png" />
    - title = "#{title} - Montevideo Bicis 🚲"
    %title
      = title
    <meta property="og:title" content="#{title}" />
    <meta property="og:description" content="Montevideo Bicis" />
    <meta property="og:type" content="website" />
    %meta{property: 'og:url', content: request.url}
    <meta property="og:image" content="/img/montevideo-bicis.jpg" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@picandocodigo" />
    %meta{name: 'twitter:title', content: title}
    %meta{name: 'twitter:description', content: 'Montevideo Bicis'}
    %meta{name: 'twitter:image', content:"/img/montevideo-bicis.jpg"}

  %body
    .container
      %nav.navbar{role: 'navigation', 'aria-label': 'main navigation'}
        .navbar-brand
          %a.navbar-item{href: '/', title: 'Montevideo Bicis'}
            %h1#logo Montevideo Bicis
            %img{src:'/img/logo.png'}
          %a{role: 'button', class:'navbar-burger burger', 'aria-label': 'menu', 'aria-expanded': 'false', 'data-target': 'navbar-coso'}
            %span{'aria-hidden': true}
            %span{'aria-hidden': true}
            %span{'aria-hidden': true}

        #navbar-coso.navbar-menu
          .navbar-start
            .navbar-item
              %a{href: "/"}
                Home
            .navbar-item
              %a{href: "/mapa"}
                Mapa
            .navbar-item
              %a{href: "/accidentes"}
                Datos accidentes
            .navbar-item.has-dropdown.is-hoverable
              .navbar-link
                Leyes
              .navbar-dropdown
                %a.navbar-item{href: '/leyes/18191'}
                  Ley Nº 18191 - Tránsito y seguridad vial en el territorio nacional
                %a.navbar-item{href: '/leyes/19061'}
                  Ley Nº 19061 - Normas complementarias a la ley Nº 18191
                %a.navbar-item{href: '/leyes/reglamento'}
                  Reglamento Nacional de Circulación Vial
            .navbar-item
              %a{href: "/enlaces"}
                Sitios de interés
            .navbar-item
              %a{href: '/acercade'}
                Acerca de
    .section.section.main
      .container
        .content
          = yield
  %footer
    .container.has-text-centered
      .columns
        .column.is-11
          Desarrollado por
          %a{href: 'http://fernandobriano.com/es'}
            Fernando Briano
        .column
          %p#picandocodigo
            %a{href:'http://picandocodigo.net', target:'_blank'}
              %img{src: '/img/picandocodigo.png'}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-2107177-14', 'auto');
ga('send', 'pageview');
</script>
