!!! 5
%html
  %head
    %link{ rel:'stylesheet', type: 'text/css', href:'/css/main.css' }
    %link{rel:"stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity: "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin: "anonymous"}
    %meta{ name: 'viewport', content:'width=device-width, initial-scale=1.0' }
    %script{ src:'/js/jquery.js' }
    %script{ src:'/js/bootstrap.js' }
    - title = "#{title} - Montevideo Bicis 🚲"
    %title
      = title
    <meta property="og:title" content="#{title}" />
    <meta property="og:description" content="Montevideo Bicis" />
    <meta property="og:type" content="website" />
    %meta{property: 'og:url', content: request.url}
    <meta property="og:image" content="/img/montevideo-bicis.jpg" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@picandocodigo" />
    %meta{name: 'twitter:title', content: title}
    %meta{name: 'twitter:description', content: 'Montevideo Bicis'}
    %meta{name: 'twitter:image', content:"/img/montevideo-bicis.jpg"}

  %body
    .container.main
      %header
        .span5.page-header
          %a{href: "/", title: "Montevideo Bicis - Inicio"}
            %h1#logo Montevideo Bicis
            %img{src:'img/logo.png', width: '295px', height: '136px'}
        .navbar.navbar-default
          .container
            .row
              .span4.offset7
                %ul.nav.navbar-nav
                  %li{current_page == "home" ? {class: "active"} : {}}
                    %a{href: "/"}
                      Home
                  %li{current_page == "mapa" ? {class: "active"} : {}}
                    %a{href: "/mapa"}
                      Mapa
                  %li{current_page == "data" ? {class: "active"} : {}}
                    %a{href: "/data"}
                      Datos accidentes
                  %li{current_page == "leyes" ? {class: 'dropdown active'} : {class: 'dropdown'}}
                    %a{href: '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown', 'role' => 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false'}
                      Leyes
                      %span{class: 'caret'}
                    %ul.dropdown-menu
                      %li
                        %a{href: '/leyes/18191'}
                          Ley Nº 18191 - Tránsito y seguridad vial en el territorio nacional
                      %li
                        %a{href: '/leyes/19061'}
                          Ley Nº 19061 - Normas complementarias a la ley Nº 18191
                      %li
                        %a{href: '/leyes/reglamento'}
                          Reglamento Nacional de Circulación Vial
                  %li{current_page == "participar" ? {class: "active"} : {}}
                    %a{href: "/participar"}
                      Sitios de interés
                  %li{current_page == 'about' ? {class: 'active'} : {}}
                    %a{href: '/about'}
                      Acerca de
      = yield
  %footer.footer
    .container
      %p#picandocodigo
        %a{href:'http://picandocodigo.net', target:'_blank'}
          %img{src: '/img/picandocodigo.png'}
      %p.text
        Desarrollado por
        %a{href: 'http://fernandobriano.com'}
          Fernando Briano
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-2107177-14', 'auto');
ga('send', 'pageview');
</script>