!!! 5
%html
  %head
    %link{rel:'stylesheet', type: 'text/css', href:'/css/bootstrap.min.css'}
    %link{rel:'stylesheet', type: 'text/css', href:'/css/main.css'}
    %link{rel:'stylesheet', type: 'text/css', href:'/css/bootstrap-responsive.css'}
    %meta{name: 'viewport', content:'width=device-width, initial-scale=1.0'}
    %script{src:'/js/bootstrap.min.js'}
    %script{src:'/js/jquery.min.js'}
    %title Montevideo Bicis
  %body
    #container
      %header
        .navbar.nabvar-inversed.nabvar-fixed-top
          .navbar-inner
            .container
              .row
                .span5
                  %h1 Montevideo Bicis
                .span4.offset7
                  %ul.nav
                    %li
                      %a{href: "/"}
                        Home
                    %li
                      %a{href: "/data"}
                        Data
                    %li
                      %a{href: "/leyes"}
                        Leyes

      .container
        = yield