%h1.title.is-2 Mapa
%p
  El mapa cuenta con la siguiente información:
  .content
    %ul
      %li
        Trayectos de los Bicicircuitos presentes en Montevideo. Los bicicircuitos están categorizados en:
        %ul
          %li
            <span class='blue'>Ciclovías</span> (separación física en la calzada)
          %li
            <span class='green'>Bicisenda</span> (senda sobre vereda)
          %li
            <span class='red'>Calles 30 km/h</span>.
        %li.bicicletario-l
          Bicicletarios dónde se puede dejar "estacionada" la bicicleta particular. Se dispone información de la cantidad de módulos y si se encuentra en vereda o en calzada.
#map

%p
  La información mostrada está basada en <a href="https://catalogodatos.gub.uy/dataset/intendencia-montevideo-bicicircuitos-bicicletarios-estaciones-y-talleres-de-reparacion" target="_blank">Datos Abiertos de la Intendencia de Montevideo</a>.
%p
  Dichos datos se liberan en formato shapefile y son convertidos a GeoJSON para usarlos en este mapa. Se pueden encontrar los datos en formato GeoJSON en los siguientes enlaces:

.content
  %ul
    %li
      %a{href:"/bicicircuitos.geojson"}
        Bicicircuitos
    %li
      %a{href:"/bicicletarios.geojson"}
        Bicicletarios
%script{src: "js/leaflet.js"}
%script{src: "js/easy-button.js"}
%script{src: "js/map.js"}
%link{rel: 'stylesheet', href:'css/leaflet.css'}
%link{rel: 'stylesheet', href:'css/easy-button.css'}
