%h1 Mapa
%p
  El mapa cuenta con la siguiente información:
  %ul
    %li
      Trayectos de los Bicicircuitos presentes en Montevideo. Los bicicircuitos están categorizados en: <span class='blue'>Ciclovías</span> (separación física en la calzada), <span class='green'>Bicisenda</span> (senda sobre vereda) ó <span class='red'>Calles 30 km/h</span>.
#map

%script{src: "js/leaflet.js"}
%script{src: "js/catiline.js"}
%script{src: "js/leaflet.shpfile.js"}
%script{src: "js/map.js"}
%link{rel: 'stylesheet', href:'css/leaflet.css'}
