%h2 Sobre el sitio:

%p
    Algunos sitios de interes, que te pueden dar mas informacion sobre la ley y para participar del movimiento.

%ul{class: "dropdown-menu dropdown-menu-custom ", role: "menu", }
    %li
        %a{href:"#ciclourbana"}Ciclo Vida Urbana
    %li
        %a{href:"#leydelabicicletauruguay"}Ley de la Bicicleta
    %li
        %a{href:"#ciclovidaonline"}CicloVidaOnline
    %li
        %a{href:"#goodbike"}GoodBike
    %li
        %a{href:"#masacriticamvd"}Masa Critica MVD
    %li
        %a{href:"#unibici"}Programa Unibici - ciclovías universitarias

.well
    %h2
        %a{href: "https://www.facebook.com/Ciclourbana", name: "ciclourbana"}
            Ciclo Vida Urbana

    %p Ciclovida surge con el firme propósito de ayudar a los demás. Promover y apoyar políticas de movilidad urbana.
    %p Porque la bicicleta es el transporte que contribuye a lograr una ciudad limpia, a reducir la contaminación, a descomprimir el tránsito vehicular.
    %p Promovemos algo mas que andar en bicicleta, investigamos, asesoramos, diseñamos e implementamos acciones para lograr cambios culturales que integren la bicicleta como un medio de transporte más.
    %p Nuestra aspiración armar es mecanismos y proyectos desde el poder civil que permitan desarrollar políticas publicas enfocadas en la transformación de comportamientos en la cultura ciudadana.
    %p Ciclovida es un espacio de reflexión e intercambio sobre como movernos mejor, ser punto de encuentro para aquellos que utilizan sus bicicletas para trasladarse todos los días a centros de estudio o trabajo en la ciudad, o usen las bicis para recreación o deporte.
    %p En Ciclovida queremos que la gente recupere la sensación de libertad, que establezca una relación directa y vívida con el paisaje cotidiano…es decir, reconquistar la “escala humana” de la ciudad.

.well
    %h2
        %a{href: "http://www.facebook.com/LeyDeLaBicicletaUruguay", name: "leydelabicicletauruguay"}
            Ley de la Bicicleta

    %p Proyecto de Ley de la Bicicleta para Uruguay. El objetivo es promover, difundir y lograr el apoyo ciudadano para que la Ley sea aprobada por el Poder Legislativo del País.
    %p 
        El presente proyecto de ley tiene por objeto promover y fomentar el uso de la bicicleta como medio de transporte. Asimismo, tiene por objeto establecer los principios, 
        requerimientos y objetivos que permitan generar a nivel local, regional y nacional las condiciones necesarias para la plena integración de la bicicleta y los medios atracción 
        humana a nuestro sistema vial, urbano y rural, a través de políticas públicas en los campos de la educación, la salud, el medio ambiente, el desarrollo social, la sociedad civil, 
        y la participación territorial, garantizando unaplena participación ciudadana en todos las etapas de este proceso. Como también, establecer las formas, condiciones y 
        lineamientos para su uso y promoción.

.well
    %h2
        %a{href: "http://ciclovidaonline.com/", name: "ciclovidaonline"}
            CicloVidaOnline

    %p Ciclovida surge con el firme propósito de ayudar a los demás. Promover y apoyar políticas de movilidad urbana.
    %p Porque la bicicleta es el transporte que contribuye a lograr una ciudad limpia, a reducir la contaminación, a descomprimir el tránsito vehicular.
    %p Promovemos algo mas que andar en bicicleta, investigamos, asesoramos, diseñamos e implementamos acciones para lograr cambios culturales que integren la bicicleta como un medio de transporte más.
    %p Nuestra aspiración armar es mecanismos y proyectos desde el poder civil que permitan desarrollar políticas publicas enfocadas en la transformación de comportamientos en la cultura ciudadana.
    %p Ciclovida es un espacio de reflexión e intercambio sobre como movernos mejor, ser punto de encuentro para aquellos que utilizan sus bicicletas para trasladarse todos los días a centros de estudio o trabajo en la ciudad, o usen las bicis para recreación o deporte.
    %p En Ciclovida queremos que la gente recupere la sensación de libertad, que establezca una relación directa y vívida con el paisaje cotidiano…es decir, reconquistar la “escala humana” de la ciudad.

.well
    %h2
        %a{href: "http://www.goodbike.com.uy/", name: "goodbike"}
            GoodBike

    %p Ofrecemos una innovadora y saludable manera de conocer Uruguay en bicicleta.
    %p Te ofrecemos la posibilidad de realizar un paseo saludable e involucrarte con el entorno, sintiendo la intensidad de los colores, aromas y sonidos que enmarcan la personalidad única de cada lugar que se visita.
    %p Interesantes recorridos turísticos, actualizados, divertidos y con alto valor cultural.
    %p Salimos en grupos o te ayudamos a armar tu propio circuito. Contamos con guías profesionales que te acompañarán recorriendo los puntos más interesantes de nuestras ciudades.
    %p Nuestra experiencia y la de los profesionales que nos acompañan, forjaron la creación de un área especializada en servicio corporativo para empresas. Todos aquellos que quieran fortalecer el sentimiento de equipo mediante una sana actividad de recreación, pueden contar con nosotros.

.well
    %h2
        %a{href: "http://www.facebook.com/groups/masacriticamvd/", name: "masacriticamvd"}
            Masa Critica MVD

    %p Masa Crítica es un fenómeno ciclista que tiene lugar todos los meses en numerosas ciudades del mundo.
    %p 
        Su finalidad es dar a conocer las grandes ventajas que aportan a la movilidad, a la sociedad y al individuo, 
        una mayor presencia de las bicicletas en las ciudades ... para reducir las molestias que causa el tráfico motorizado: 
        ruido, contaminación, atascos, inseguridad. Y recalcar que usar la bici mejora nuestra salud y la de otros seres vivos, 
        al reducir la contaminación por la combustión de derivados del petróleo que realizan autos, motos y ómnibus
    %p Las primeras celebraciones de la Masa Crítica tuvieron lugar en San Francisco (EEUU) en 1992. En un primer momento, acudieron tan sólo 58 personas, pero en menos de un año ya eran unos 500.

.well
    %h2
        %a{href: "http://www.fing.edu.uy/noticias/area-de-comunicaci%C3%B3n/se-vienen-las-ciclov%C3%ADas-universitarias", name: "unibici"}
            Programa Unibici - ciclovías universitarias

    %p La Intendencia de Montevideo (IM) hizo público el proyecto para construir ciclovías que unirán varias de las facultades de la Universidad de la República.
    %p El Programa Unibici viene trabajando con la IM a fin de construir un bici-circuito, que espera se concrete una primer etapa este año, integrando en su recorrido a los Servicios de Ingeniería, Arquitectura, Ciencias Económicas, Comedor 1, Derecho, Bibliotecología, Artes, Rectorado, Bienestar Universitario, entre otros.
    %p El colectivo, que tiene como principal objetivo promover el uso de la bicicleta entre los universitarios, es integrado por docentes, funcionarios, estudiantes y egresados de las facultades de Psicología, Humanidades y Ciencias de la Educación, Ciencias Sociales, Ingeniería, Ciencias, Medicina, Veterinaria, Espacio Interdisciplinario y Centro de Diseño Industrial.
    %p Enrique Moreno, Coordinador General de la Unidad Ejecutiva del Plan de Movilidad Urbana de la IM, anunció la construcción de la ciclovía universitaria y agregó que la importancia de este proyecto radica en que tiene a los jóvenes como protagonistas.
