body{
  background: url(/img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container.main{
    background: #efefef;
    padding-bottom: 40px;
}

ol.letters{
  list-style-type: upper-alpha;
}
footer.footer .text{
    margin: 40px 0;
    text-align: center;
}

footer{
    width: 100%;
}

footer.footer .container{
    background: #e7e7e7;
}

#map{
    width: 100%;
    min-height: 500px;
}

.red, .green, .blue{font-weight: bold;}
.red{color: #ff0000;}
.green{color: #00ff00;}
.blue{color: #0000ff;}

div.leaflet-popup-content h5{
    font-weight: bold;
}

li.bicicletario{
    list-style: url(/img/leaflet/btn-bicicletario.png)
}

li.movete{
    list-style: url(/img/leaflet/btn-movete.png)
}

li.talleres{
    list-style: url(/img/leaflet/btn-taller.png)
}

.year{
    width: 100%;
    background: #c8c9a7;
    padding: 20px;
    text-align: center;
}

#picandocodigo img{
    float: right;
    margin: 40px;
}

#error404{
    text-align: center;
}

.highlight-law{
    background: #ffd;
}