%h1 Ley Nº 18.191

%a{href: "http://www.parlamento.gub.uy/leyes/AccesoTextoLey.asp?Ley=18191"}Ver en www.parlamento.gub.uy
%span.pull-right
  Publicada D.O. 28 nov/007 - Nº 27373

%h2 TRÁNSITO Y SEGURIDAD VIAL EN EL TERRITORIO NACIONAL
%h3 NORMAS

%p
  El Senado y la Cámara de Representantes de la República Oriental del Uruguay, reunidos en Asamblea General, DECRETAN:

%p
  Artículo 1º.- Las disposiciones de la presente ley son de orden público. El tránsito y la seguridad vial constituyen una actividad de trascendencia e interés público, en tanto involucran valores como la vida y la seguridad personal, que como tales merecen la protección de la ley.

%h4 Fines de la ley

%p
  Artículo 2º.- Establécese que los fines de la presente ley son:
  %ol
    %li
      Proteger la vida humana y la integridad psicofísica de las personas y contribuir a la preservación del orden y la seguridad públicos.
    %li
      Preservar la funcionalidad del tránsito, los valores patrimoniales públicos y privados vinculados al mismo y el medio ambiente circundante.

%h4 Objeto de la ley

Artículo 3º.- El objeto de la ley es regular el tránsito peatonal y vehicular así como la seguridad vial, en particular:
%ol.letters
  %li Las normas generales de circulación.
  %li Las normas y criterios de señalización de las vías de tránsito o circulación.
  %li Los sistemas e instrumentos de seguridad activa y pasiva y las condiciones técnicas de los vehículos.
  %li El régimen de autorizaciones administrativas relacionadas con la circulación de vehículos.
  %li Establecer las infracciones así como las sanciones aplicables, relacionadas con tales fines.
  
%h4  Ámbito espacial de aplicación

%p
  Artículo 4º.- Todas las vías públicas del país ubicadas en zonas urbanas, suburbanas y rurales, incluidas las vías privadas libradas al uso público y las vías y espacios privados abiertos parcialmente al público.
  PRINCIPIOS RECTORES DEL TRÁNSITO

%p
  Artículo 5º.- Principio de libertad de tránsito.

%ul
  %li 1. 	El tránsito y la permanencia de personas y vehículos en el territorio nacional son libres, con las excepciones que establezca la ley por motivos de interés general (Artículos 7º de la Constitución y 22 de la Convención Interamericana sobre Derechos Humanos, Pacto de San José de Costa Rica).
  %li 2. 	Sólo podrá restringirse la circulación o conducción de un vehículo en los casos previstos en la presente ley.
  %li 3. 	Sólo la autoridad judicial o administrativa podrá retener o cancelar, por resolución fundada, la licencia de conducir.

%p
  Artículo 6º.- Principio de responsabilidad por la seguridad vial.

%p
  Cuando circulen por las vías libradas al uso público los usuarios deben actuar con sujeción al principio de "Abstenerse ante la duda" adaptando su comportamiento a los criterios de seguridad vial.

%p
  Artículo 7º.- Principio de seguridad vial.

%p
  Los usuarios de las vías de tránsito deben abstenerse de todo acto que pueda constituir un peligro o un obstáculo para la circulación, poner en peligro a personas o, causar daños a bienes públicos o privados.

%p
  Artículo 8º.- Principio de cooperación.


%p
  Implica comportarse conforme a las reglas y actuar en la vía armónicamente, de manera de coordinar las acciones propias con las de los otros usuarios para no provocar conflictos, perturbaciones, ni siniestros, y, en definitiva, compartir la vía pública en forma pacífica y ordenada.
TÉRMINOS Y CONCEPTOS UTILIZADOS


%p
  Artículo 9º.- A los efectos de la ley y de las disposiciones complementarias que se dicten, los términos de la misma se entenderán utilizados en el sentido definido en el Anexo al presente texto y, los términos no definidos, se entenderán en el sentido que se les atribuye conforme a las disciplinas técnicas, científicas y jurídicas referentes en la materia.
DISPOSICIONES GENERALES

%p
  Artículo 10.- Las reglas de circulación que se incluyen en la presente ley constituyen una base normativa mínima y uniforme que regulará el tránsito vehicular en todo el territorio nacional.

%p
  Artículo 11.- Cada Gobierno Departamental adoptará las medidas adecuadas para asegurar el cumplimiento en su territorio de las disposiciones de la presente ley.

%p
  Artículo 12.- Las normas de tránsito vigentes en el territorio de cada departamento, podrán contener disposiciones no previstas en la presente ley, siempre que no sean incompatibles con las establecidas en la misma.

%p
  Artículo 13.- El conductor de un vehículo que circule en un departamento está obligado a cumplir las normas nacionales así como las vigentes en el mismo.
REGLAS GENERALES DE CIRCULACIÓN

%p
  Artículo 14.- De la circulación vehicular.

%ul
  %li
    1) 	En calzadas con tránsito en doble sentido, los vehículos deberán circular por la mitad derecha de las mismas, salvo en los siguientes casos:
    %ul
      %li
        A) 	Cuando deban adelantar a otro vehículo que circule en el mismo sentido, durante el tiempo estrictamente necesario para ello, y volver con seguridad a su carril, dando preferencia a los usuarios que circulen en sentido contrario.
      %li
        B) 	Cuando exista un obstáculo que obligue a circular por el lado izquierdo de la calzada, dando preferencia de paso a los vehículos que circulen en sentido contrario.
  %li
    2) 	En todas las vías, los vehículos circularán dentro de un carril, salvo cuando realicen maniobras para adelantar o cambiar de dirección.

  %li
    3) 	En vías de cuatro carriles o más, con tránsito en doble sentido, ningún vehículo podrá utilizar los carriles que se destinan a la circulación en sentido contrario.

  %li
    4) 	Se prohíbe circular sobre marcas delimitadoras de carriles, ejes separadores o islas canalizadoras.

  %li
    5) 	La circulación alrededor de rotondas será por la derecha, dejando a la izquierda dicho obstáculo, salvo que existan dispositivos reguladores específicos que indiquen lo contrario.

  %li
    6) 	El conductor de un vehículo debe mantener una distancia suficiente con el que lo precede, teniendo en cuenta su velocidad, las condiciones meteorológicas, las características de la vía y de su propio vehículo, para evitar un accidente en el caso de una disminución brusca de la velocidad o de una detención súbita del vehículo que va delante.

  %li
    7) 	Los vehículos que circulan en caravana o convoy deberán mantener suficiente distancia entre ellos para que cualquier vehículo que les adelante pueda ocupar la vía sin peligro. Esta norma no se aplicará a los cortejos fúnebres, vehículos militares, policiales, y en caso de caravanas autorizadas.

  %li
    8) 	Los vehículos que transporten materiales peligrosos y circulen en caravana o convoy, deberán mantener una distancia suficiente entre ellos destinada a reducir los riesgos en caso de averías o accidentes.

  %li
    9) 	Se prohíbe seguir a vehículos de emergencia.

%p
  Artículo 15.- De las velocidades.
  %ul
    %li
      1) 	El conductor de un vehículo no podrá circular a una velocidad superior a la permitida. La velocidad de un vehículo deberá ser compatible con las circunstancias, en especial con las características del terreno, el estado de la vía y el vehículo, la carga a transportar, las condiciones meteorológicas y el volumen de tránsito.
    %li
      2) 	En una vía de dos o más carriles con tránsito en un mismo sentido, los vehículos pesados y los más lentos deben circular por los carriles situados más a la derecha, destinándose los demás a los que circulen con mayor velocidad.
    %li
      3) 	No se podrá conducir un vehículo a una velocidad tan baja que obstruya o impida la adecuada circulación del tránsito.

%p
  Artículo 16.- De los adelantamientos.
  %ul
    %li
      1) 	Se prohíbe a los conductores realizar en la vía pública, competiciones de velocidad no autorizadas.
    %li
      2)  El conductor de un vehículo que sigue a otro en una vía de dos carriles con tránsito en doble sentido, podrá adelantar por la mitad izquierda de la misma, sujeto a las siguientes condiciones:
      %ul
        %li
          A)  Que otro vehículo detrás suyo, no inició igual maniobra.
        %li
          B)  Que el vehículo delante suyo no haya indicado el propósito de adelantar a un tercero.
        %li
          C)  Que el carril de tránsito que va a utilizar esté libre en una distancia suficiente, de modo tal que la maniobra no constituya peligro.
        %li
          D)  Que efectúe las señales reglamentarias.

    %li
      3)  El conductor de un vehículo que es alcanzado por otro que tiene la intención de adelantarle, se acercará a la derecha de la calzada y no aumentará su velocidad hasta que el otro haya finalizado la maniobra de adelantamiento.
    %li
      4)  En caminos de ancho insuficiente, cuando un vehículo adelante a otro que circula en igual sentido, cada conductor está obligado a ceder la mitad del camino.
    %li
      5)  El conductor de un vehículo, en una calzada con doble sentido de circulación, no podrá adelantar a otro vehículo cuando:
      %ul
        %li
          A) 	La señalización así lo determine.
        %li
          B) 	Accedan a una intersección salvo en zonas rurales cuando el acceso sea por un camino vecinal.
        %li
          C) 	Se aproximen a un paso a nivel o lo atraviesen.
        %li
          D)  Circulen en puentes, viaductos o túneles.
        %li
          E) 	Se aproximen a un paso de peatones.
    %li
      6)  En los caminos con tránsito en ambos sentidos de circulación, se prohíbe el adelantamiento de vehículos en aquellos casos en que la visibilidad resulte insuficiente.
    %li
      7)  En vías de tres carriles con tránsito en doble sentido, los vehículos podrán utilizar el carril central para adelantar a otro vehículo que circule en su mismo sentido, quedando prohibida la utilización del carril izquierdo que se reservará exclusivamente a vehículos que se desplacen en sentido contrario.
    %li
      8)  No se adelantará invadiendo las bermas o banquinas u otras zonas no previstas específicamente para la circulación vehicular.
    %li
      %p
        9)  En una calzada con dos o más carriles de circulación en el mismo sentido, un conductor podrá adelantar por la derecha cuando:
        %ul
          %li
            A)  El vehículo que lo precede ha indicado la intención de girar o detenerse a su izquierda.
          %li
            B) 	Los vehículos que ocupen el carril de la izquierda no avancen o lo hagan con lentitud.
      %p
        En ambos casos se cumplirá con las normas generales de adelantamiento.

%p
  Artículo 17.- De las preferencias de paso.
  %ul
    %li
      1) 	Al aproximarse a un cruce de caminos, una bifurcación, un empalme de carreteras o paso a nivel, todo conductor deberá tomar precauciones especiales a fin de evitar cualquier accidente.
    %li
      2) 	Todo conductor de vehículo que circule por una vía no prioritaria, al aproximarse a una intersección, deberá hacerlo a una velocidad tal que permita detenerlo, si fuera necesario, a fin de ceder paso a los vehículos que tengan prioridad.
    %li
      3)  Cuando dos vehículos se aproximan a una intersección no señalizada procedentes de vías diferentes, el conductor que observase a otro aproximarse por su derecha, cederá el paso.
    %li
      4) 	En aquellos cruces donde se hubiera determinado la preferencia de paso mediante los signos "PARE" y "CEDA EL PASO" no regirá la norma establecida en el numeral anterior.
    %li
      5) 	El conductor de un vehículo que ingrese a la vía pública, o salga de ella, dará preferencia de paso a los demás usuarios de la misma.
    %li
      6) 	El conductor de un vehículo que cambia de dirección o de sentido de marcha, debe dar preferencia de paso a los demás.
    %li
      7) 	Todo conductor debe dar preferencia de paso a los peatones en los cruces o pasos reglamentarios destinados a ellos.
    %li
      8) 	Los vehículos darán preferencia de paso a los de emergencia cuando éstos emitan las señales audibles y visuales correspondientes.
    %li
      9) 	Está prohibido al conductor de un vehículo avanzar en una encrucijada, aunque algún dispositivo de control de tránsito lo permita, si existe la posibilidad de obstruir el área de cruzamiento.

%p
  Artículo 18.- De los giros.
  %ul
    %li
      1) 	Los cambios de dirección, disminución de velocidad y demás maniobras que alteran la marcha de un vehículo, serán reglamentaria y anticipadamente advertidas. Sólo se efectuarán si no atentan contra la seguridad o la fluidez del tránsito.
    %li
      2) 	El conductor no deberá girar sobre la misma calzada en sentido opuesto, en las proximidades de curvas, puentes, túneles, estructuras elevadas, pasos a nivel, cimas de cuestas y cruces ferroviarios ni aun en los lugares permitidos cuando constituya un riesgo para la seguridad del tránsito y obstaculice la libre circulación.
    %li
      3) 	Para girar a la derecha, todo conductor debe previamente ubicarse en el carril de circulación de la derecha y poner las señales de giro obligatorias, ingresando a la nueva vía por el carril de la derecha.
    %li
      4) 	Para girar a la izquierda, todo conductor debe previamente ubicarse en el carril de circulación de más a la izquierda, y poner las señales de giro obligatorio. Ingresará a la nueva vía, por el lado correspondiente a la circulación, en el carril de más a la izquierda, en su sentido de marcha.
    %li
      5) 	Se podrán autorizar otras formas de giros diferentes a las descriptas en los artículos anteriores, siempre que estén debidamente señalizadas.
    %li
      6) 	Para girar o cambiar de carril se deben utilizar obligatoriamente luces direccionales intermitentes de la siguiente forma:
      %ul
        %li
          A)  Hacia la izquierda, luces del lado izquierdo, adelante y detrás y siempre que sea necesario, brazo y mano extendidos horizontalmente hacia fuera del vehículo.
        %li
          B) 	Hacia la derecha, luces del lado derecho, adelante y detrás y siempre que sea necesario, brazo y mano extendidos hacia fuera del vehículo y hacia arriba.
    %li
      7) 	Para disminuir considerablemente la velocidad, salvo el caso de frenado brusco por peligro inminente, y siempre que sea necesario, brazo y mano extendidos fuera del vehículo y hacia abajo.

%p
  Artículo 19.- Del estacionamiento.
  %ul
    %li
      1)  En zonas urbanas la detención de vehículos para el ascenso y descenso de pasajeros y su estacionamiento en la calzada, está permitido cuando no signifique peligro o trastorno a la circulación. Deberá efectuarse en el sentido que corresponde a la circulación, a no más de treinta centímetros del cordón de la acera o del borde del pavimento y paralelo a los mismos.
    %li
      2)  Los vehículos no deben estacionarse ni detenerse en los lugares que puedan constituir un peligro u obstáculo a la circulación, especialmente en la intersección de carreteras, curvas, túneles, puentes, estructuras elevadas y pasos a nivel, o en las cercanías de tales puntos. En caso de desperfecto mecánico u otras causas, además de colocar los dispositivos correspondientes al estacionamiento de emergencia, el conductor tendrá que retirar el vehículo de la vía.
    %li
      3)  Cuando sea necesario estacionar el vehículo en vías con pendientes pronunciadas, el mismo debe permanecer absolutamente inmovilizado, mediante su sistema de frenos u otros dispositivos adecuados a tal fin.
    %li
      4) 	Fuera de zonas urbanas, se prohíbe detener o estacionar un vehículo sobre la faja de circulación si hubiere banquina o berma.

%p
  Artículo 20.- De los cruces de vías férreas.
  Los conductores deberán detener sus vehículos antes de un cruce ferroviario a nivel y sólo podrán continuar después de comprobar que no existe riesgo de accidente.

%p
  Artículo 21.- Del transporte de cargas.
  %ul
    %li
      1)  La carga del vehículo estará acondicionada dentro de los límites de la carrocería, de la mejor forma posible y debidamente asegurada, de forma tal que no ponga en peligro a las personas o a las cosas. En particular se evitará que la carga se arrastre, fugue, caiga sobre el pavimento, comprometa la estabilidad y conducción del vehículo, oculte las luces o dispositivos retrorreflectivos y la matrícula de los mismos, como así también afecte la visibilidad del conductor.
    %li
      2) 	En el transporte de materiales peligrosos, además de observarse la respectiva normativa, deberá cumplirse estrictamente con lo siguiente:
      %ul
        %li
          A) 	En la Carta de Porte o documentación pertinente, se consignará la identificación de los materiales, su correspondiente número de Naciones Unidas y la clase de riesgo a la que pertenezca.
        %li
          B) 	En la cabina del vehículo se deberá contar con instrucciones escritas para el caso de accidente.
        %li
          C) 	El vehículo debe poseer la identificación reglamentaria respectiva.

%p
  Artículo 22.- De los peatones.
  %ul
    %li
      1) 	Los peatones deberán circular por las aceras, sin utilizar la calzada ni provocar molestias o trastornos a los demás usuarios.
    %li
      2) 	Pueden cruzar la calzada en aquellos lugares señalizados o demarcados especialmente para ello. En las intersecciones sin cruces peatonales delimitados, desde una esquina hacia otra, paralelamente a una de las vías.
    %li
      3) 	En aquellas vías públicas donde no haya acera, deberán circular por las bermas (banquinas) o franjas laterales de la calzada, en sentido contrario a la circulación de los vehículos.
    %li
      4) 	Para cruzar la calzada en cualquiera de los casos descritos en los artículos anteriores, los peatones deberán hacerlo caminando lo más rápidamente posible, en forma perpendicular al eje y asegurándose de que no exista peligro.

%p
  Artículo 23.- De las perturbaciones del tránsito.
  %ul
    %li
      1) 	Está prohibido arrojar, depositar o abandonar objetos o sustancias en la vía pública, o cualquier otro obstáculo que pueda dificultar la circulación o constituir un peligro para la seguridad en el tránsito.
    %li
      2) 	Cuando por razones de fuerza mayor no fuese posible evitar que el vehículo constituya un obstáculo o una situación de peligro para el tránsito, el conductor deberá inmediatamente señalizarlo para los demás usuarios de la vía, tratando de retirarlo tan pronto como le sea posible.
    %li
      3) 	La circulación en marcha atrás o retroceso, sólo podrá efectuarse en casos estrictamente justificados, en circunstancias que no perturben a los demás usuarios de la vía, y adoptándose las precauciones necesarias.
    %li
      4) 	La circulación de los vehículos que por sus características o la de sus cargas indivisibles, no pueden ajustarse a las exigencias legales o reglamentarias, deberá ser autorizada en cada caso, con carácter de excepción, por la autoridad competente.

%h4
  LOS CONDUCTORES

%p
  Artículo 24.- Se conducirá con prudencia y atención, con el objeto de evitar eventuales accidentes, conservando en todo momento el dominio efectivo del vehículo, teniendo en cuenta los riesgos propios de la circulación y demás circunstancias del tránsito.

%p
  Artículo 25.- El conductor de cualquier vehículo deberá abstenerse de toda conducta que pueda constituir un peligro para la circulación, las personas, o que pueda causar daños a la propiedad pública o privada.

%p
  Artículo 26.- De las habilitaciones para conducir.
  %ul
    %li
      1) 	Todo conductor de un vehículo automotor debe ser titular de una licencia habilitante que le será expedida por la autoridad de tránsito competente en cada departamento. Para transitar, el titular de la misma, deberá portarla y presentarla al requerimiento de las autoridades nacionales y departamentales competentes.
    %li
      2) 	La licencia habilita exclusivamente para la conducción de los tipos de vehículos correspondientes a la clase o categoría que se especifica en la misma y será expedida por la autoridad competente de acuerdo a las normas de la presente ley.
    %li
      3) 	Para obtener la habilitación para conducir, el aspirante deberá aprobar:
      %ul
        %li
          A)  Un examen médico sobre sus condiciones psicofísicas.
        %li
          B) 	Un examen teórico de las normas de tránsito.
        %li
          C) 	Un examen práctico de idoneidad para conducir.
        Los referidos exámenes y los criterios de evaluación de los mismos serán únicos en todo el país.
  %li
    4) 	La licencia de conducir deberá contener como mínimo la identidad del titular, el plazo de validez y la categoría del vehículo que puede conducir.
  %li
    5) 	Podrá otorgarse licencia de conducir a aquellas personas con incapacidad física, siempre que:
    %ul
      %li
        A)  El defecto o deficiencia física no comprometa la seguridad del tránsito o sea compensado técnicamente, asegurando la conducción del vehículo sin riesgo.
      %li
        B) 	El vehículo sea debidamente adaptado para el defecto o deficiencia física del interesado.
    
    El documento de habilitación del conductor con incapacidad física indicará la necesidad del uso del elemento corrector del defecto o deficiencia o de la adaptación del vehículo.
  %li
    6)  La licencia de conducir deberá ser renovada periódicamente para comprobar si el interesado aún reúne los requisitos necesarios para conducir un vehículo.
  %li
    7) 	Todas las autoridades competentes reconocerán la licencia nacional de conducir expedida en cualquiera de los departamentos y en las condiciones que establece la presente ley, la que tendrá el carácter de única y excluyente, a efectos de evitar su acumulación y que con ello se tornen inocuas las sanciones que se apliquen a los conductores por las diferentes autoridades competentes.

%p
  Artículo 27.- De la suspensión de las habilitaciones para conducir.

  Las autoridades competentes en materia de tránsito establecerán y aplicarán un régimen único de inhabilitación temporal o definitiva de conductores, teniendo en cuenta la gravedad de las infracciones, el cual se gestionará a través del Registro Nacional Único de Conductores, Vehículos, Infracciones e Infractores.
  LOS VEHÍCULOS

%p
  Artículo 28.- Las disposiciones que regirán para los vehículos serán las siguientes:
  %ul
    %li
      1)  Los vehículos automotores y sus remolques, deberán encontrarse en buen estado de funcionamiento y en condiciones de seguridad tales, que no constituyan peligro para su conductor y demás ocupantes del vehículo así como otros usuarios de la vía pública, ni causen daños a las propiedades públicas o privadas.
    %li
      2) 	Todo vehículo deberá estar registrado en el Registro Nacional Único de Conductores, Vehículos, Infracciones e Infractores creado por la Ley Nº 16.585, de 22 de setiembre de 1994.
    %li
      3) 	El certificado de registro deberá contener como mínimo la siguiente información:
      %ul
        %li
          A) 	Número de registro o placa.
        %li
          B) 	Identificación del propietario.
        %li
          C) 	Marca, año, modelo, tipo de vehículo y los números de fábrica que lo identifiquen.
    %li
      4) 	Todo vehículo automotor deberá identificarse mediante dos placas, delantera y trasera, con el número de matrícula o patente.    
      Los remolques y semirremolques se identificarán únicamente con la placa trasera.
      Las placas deberán colocarse y mantenerse en condiciones tales que sus caracteres sean fácilmente visibles y legibles.

%p
  Artículo 29.- De los diferentes elementos.
  %ul
    %li
      1) 	Todo vehículo automotor, para transitar por la vía pública, deberá poseer como mínimo el siguiente equipamiento obligatorio, en condiciones de uso y funcionamiento:
      %ul
        %li
          A)  Sistema de dirección que permita al conductor controlar con facilidad y seguridad la trayectoria del vehículo en cualquier circunstancia.
        %li
          B) 	Sistema de suspensión que proporcione al vehículo una adecuada amortiguación de los efectos que producen las irregularidades de la calzada y contribuya a su adherencia y estabilidad.
        %li
          C) 	Dos sistemas de frenos de acción independiente, que permitan controlar el movimiento del vehículo, detenerlo y mantenerlo inmóvil.
        %li
          D) 	Sistemas y elementos de iluminación y señalización que permitan buena visibilidad y seguridad en la circulación y estacionamiento de los vehículos.
        %li
          E) 	Elementos de seguridad, matafuego, balizas o dispositivos reflectantes independientes para casos de emergencia.
        %li
          F) 	Espejos retrovisores que permitan al conductor una amplia y permanente visión hacia atrás.
        %li
          G) 	Un aparato o dispositivo que permita mantener limpio el parabrisas asegurando buena visibilidad en cualquier circunstancia.
        %li
          H) 	Paragolpes delantero y trasero, cuyo diseño, construcción y montaje sean tales que disminuyan los efectos de impactos.
        %li
          I) 	Un parabrisas construido con material cuya transparencia sea inalterable a través del tiempo, que no deforme sensiblemente los objetos que son vistos a través de él y que en caso de rotura, quede reducido al mínimo el peligro de lesiones corporales.
        %li
          J) 	Una bocina cuyo sonido, sin ser estridente, pueda oírse en condiciones normales.
        %li
          K) 	Un dispositivo silenciador que reduzca sensiblemente los ruidos provocados por el funcionamiento del motor.
        %li
          L) 	Rodados neumáticos o de elasticidad equivalente que ofrezcan seguridad y adherencia aun en caso de pavimentos húmedos o mojados.
        %li
          M) 	Guardabarros, que reduzcan al mínimo posible la dispersión de líquidos, barro, piedras, etcétera.
        %li
          N) 	Los remolques y semirremolques deberán poseer el equipamiento indicado en los literales B), D), L) y M), además de un sistema de frenos y paragolpes trasero.
    %li
      2)  En las combinaciones o trenes de vehículos deberán combinarse las siguientes normas:
      %ul
        %li
          A) 	Los dispositivos y sistemas de frenos de cada uno de los vehículos que forman la combinación o tren, deberán ser compatibles entre sí.
        %li
          B) 	La acción de los frenos de servicio, convenientemente sincronizada, se distribuirá de forma adecuada entre los vehículos que forman el conjunto.
        %li
          C) 	El freno de servicio deberá ser accionado desde el comando del vehículo tractor.
        %li
          D) 	El remolque deberá estar provisto de frenos, tendrá un dispositivo que actúe automática e inmediatamente sobre todas las ruedas del mismo, si en movimiento se desprende o desconecta del vehículo tractor.
        %li
          D) 	Se prohibirá la colocación de todo tablero o inscripción que pueda prestarse a confusión con las señales reglamentarias o hacer más difícil su lectura.
        Las condiciones del buen uso y funcionamiento de los vehículos se acreditarán mediante un certificado a expedir por la autoridad competente o el concesionario de inspección técnica en quien ello se delegue, donde se establecerá la aptitud técnica del vehículo para circular.
    %li
      3)  Las motocicletas y bicicletas deberán contar con un sistema de frenos que permita reducir su marcha y detenerlas de modo seguro.
    %li
      4) 	Los vehículos automotores no superarán los límites máximos reglamentarios de emisión de contaminantes que la autoridad fije a efectos de no molestar a la población o comprometer su salud y seguridad.
    %li
      5) 	Los accesorios tales como sogas, cordeles, cadenas, cubiertas de lona, que sirvan para acondicionar y proteger la carga de un vehículo, deberán instalarse de forma que no sobrepasen los límites de la carrocería y estarán debidamente asegurados. Todos los accesorios destinados a proteger la carga deberán reunir las condiciones previstas en el artículo 21.
    %li
      6) 	El uso de la bocina sólo estará permitido a fin de evitar accidentes.
    %li
      7) 	Queda prohibida la instalación de bocinas en los equipos de descarga de aire comprimido.
    %li
      8) 	Los vehículos habilitados para el transporte de carga en los que ésta sobresalga de la carrocería de los mismos, deberán ser debidamente autorizados a tal fin y señalizados, de acuerdo a la reglamentación vigente.

%p
  Artículo 30.- Es obligatorio para todo vehículo automotor que circule dentro del ámbito de aplicación de la presente ley (artículo 4º), el uso de los proyectores de luz baja (luces cortas) encendidos en forma permanente.

%p
  Artículo 31.- Es obligatorio el uso de cinturón de seguridad en la circulación en vías urbanas como en interurbanas:
  %ul
    %li
      A) 	Por el conductor y los pasajeros de los asientos delanteros, así como por los pasajeros que ocupen los asientos traseros de autos y camionetas.
    %li
      B) 	Por el conductor y los pasajeros de los asientos delanteros de los vehículos destinados al transporte de carga.
    %li
      C) 	Por el conductor y el eventual acompañante de cabina de vehículos de transporte de pasajeros.
    %li
      D) 	Por todos los ocupantes en caso de vehículos de transporte escolar.
    Los transportistas que tengan que adecuar sus vehículos, tendrán un plazo de hasta seis meses a partir de la entrada en vigencia de la presente ley.

%p
  Artículo 32.- Es obligatorio el uso de señales luminosas o reflectivas, de acuerdo con lo que determine la reglamentación, en bicicletas y vehículos de tracción a sangre, y en sus conductores.

%p
  Artículo 33.- Es obligatorio el uso de casco protector para los usuarios de motocicletas que circulen dentro del ámbito de aplicación de la presente ley.

%h4
  SEÑALIZACIÓN VIAL

%p
  Artículo 34.- La señalización vial se regirá por lo siguiente:
  %li
    1) 	El uso de las señales de tránsito estará de acuerdo a las siguientes reglas generales:
    %ul
      %li
        A)  El número de señales reglamentarias habrá de limitarse al mínimo necesario. No se colocarán señales sino en los sitios donde sean indispensables.
      %li
        B)  Las señales permanentes de peligro habrán de colocarse a suficiente distancia de los objetos por ellas indicadas, para que el anuncio a los usuarios sea eficaz.
      %li
        C) 	Se prohibirá la colocación sobre una señal de tránsito, o en su soporte, de cualquier inscripción extraña al objeto de tal señal, que pueda disminuir la visibilidad, alterar su carácter o distraer la atención de conductores o peatones.
  %li
    2)  En las vías públicas, se dispondrán siempre que sea necesario, señales de tránsito destinadas a reglamentar la circulación, advertir y orientar a conductores y peatones.
  %li
    3)  La señalización del tránsito se efectuará mediante señales verticales, demarcaciones horizontales, señales luminosas y ademanes.
  %li
    4)  Las normas referentes a la señalización de tránsito serán las establecidas de conformidad con el Manual Interamericano de Dispositivos para el Control de Tránsito en Calles y Carreteras, adoptado por el Decreto-Ley Nº 15.223, de 10 de diciembre de 1981.
  %li
    5)  Queda prohibido en las vías públicas la instalación de todo tipo de carteles, señales, símbolos y objetos, que no sean conformes a la norma referida en el numeral anterior.
  %li
    6)  Toda señal de tránsito deberá ser colocada en una posición que resulte perfectamente visible y legible de día y de noche, a una distancia compatible con la seguridad.
  %li
    7)  Las zonas de la calzada destinadas al cruce de peatones podrán señalizarse, con demarcación horizontal, señalización vertical o señalización luminosa.
  %li
    8)  Los accesos a locales con entrada o salida de vehículos, contarán con las señales luminosas de advertencia, en los casos que determine la autoridad de tránsito competente.
  %li
    9) 	Cualquier obstáculo que genere peligro para la circulación, deberá estar señalizado según lo que establezca la reglamentación.
  %li
    10) Toda vía pública pavimentada deberá contar con una mínima señalización antes de ser habilitada.
  %li
    11) Las señales de tránsito, deberán ser protegidas contra cualquier obstáculo o luminosidad capaz de perturbar su identificación o visibilidad.

%p
  Artículo 35.- Las señales, de acuerdo a su función específica se clasifican en:
  %ul
    %li
      A) 	De reglamentación. Las señales de reglamentación tienen por finalidad indicar a los usuarios de las condiciones, prohibiciones o restricciones en el uso de la vía pública cuyo cumplimiento es obligatorio.
    %li
      B) 	De advertencia. Las señales de advertencia tienen por finalidad prevenir a los usuarios de la existencia y naturaleza del peligro que se presenta en la vía pública.
    %li
      C) 	De información. Las señales de información tienen por finalidad guiar a los usuarios en el curso de sus desplazamientos, o facilitarle otras indicaciones que puedan serle de utilidad.

%p
  Artículo 36.- Las señales luminosas de regulación del flujo vehicular podrán constar de luces de hasta tres colores con el siguiente significado:
%ul
  %li
    A) 	Luz roja continua: indica detención a quien la enfrente. Obliga a detenerse en línea demarcada o antes de entrar a un cruce.
  %li
    B) 	Luz roja intermitente: los vehículos que la enfrenten deben detenerse inmediatamente antes de ella y el derecho a seguir queda sujeto a las normas que rigen después de haberse detenido en un signo de "PARE".
  %li
    C) 	Luz amarilla o ámbar continua: advierte al conductor que deberá tomar las precauciones necesarias para detenerse a menos que se encuentre en una zona de cruce o a una distancia tal, que su detención coloque en riesgo la seguridad del tránsito.
  %li
    D) 	Luz amarilla o ámbar intermitente: los conductores podrán continuar la marcha con las precauciones necesarias.
  %li
    E) 	Luz verde continua: permite el paso. Los vehículos podrán seguir de frente o girar a izquierda o derecha, salvo cuando existiera una señal prohibiendo tales maniobras.
  %li
    F) 	Luz roja y flecha verde: los vehículos que enfrenten esta señal podrán entrar cuidadosamente al cruce, solamente para proseguir en la dirección indicada.
  %li
    G) 	Las luces podrán estar dispuestas horizontal o verticalmente en el siguiente orden: roja, amarilla y verde, de izquierda a derecha o de arriba hacia abajo, según corresponda.

%p
  Artículo 37.- Los agentes encargados de dirigir el tránsito serán fácilmente reconocibles y visibles a la distancia, tanto de noche como de día.

%p
  Artículo 38.- Los usuarios de la vía pública están obligados a obedecer de inmediato cualquier orden de los agentes encargados de dirigir el tránsito.

%p
  Artículo 39.- Las indicaciones de los agentes que dirigen el tránsito prevalecen sobre las indicadas por las señales luminosas, y éstas sobre los demás elementos y reglas que regulan la circulación.

%p
  Artículo 40.- Las siguientes posiciones y ademanes ejecutados por los agentes de tránsito significan:
A) 	Posición de frente o de espaldas con brazo o brazos en alto, obliga a detenerse a quien así lo enfrente.

B) 	Posición de perfil con brazos bajos o con el brazo bajo de su lado, permite continuar la marcha.

%p
  Artículo 41.- La autoridad competente podrá establecer la preferencia de paso en las intersecciones, mediante señales de "PARE" o "CEDA EL PASO".
  El conductor que se enfrente a una señal de "PARE" deberá detener obligatoriamente su vehículo y permitir el paso a los demás usuarios.
  El conductor que se enfrente a una señal de "CEDA EL PASO" deberá reducir la velocidad, detenerse si es necesario y permitir el paso a los usuarios que se aproximen a la intersección por la otra vía.

%h4
  ACCIDENTES Y SEGURO OBLIGATORIO

%p
  Artículo 42.- Se considera accidente de tránsito todo hecho que produzca lesiones en personas o daños en bienes como consecuencia de la circulación de vehículos.

%p
  Artículo 43.- Sin perjuicio de lo dispuesto en las respectivas reglamentaciones, todo conductor implicado en un accidente deberá:
%ul
  %li
    A) 	Detenerse en el acto, sin generar un nuevo peligro para la seguridad del tránsito, permaneciendo en el lugar hasta la llegada de las autoridades.
  %li
    B) 	En caso de accidentes con víctimas, procurar el inmediato socorro de las personas lesionadas.
  %li
    C) 	Señalizar adecuadamente el lugar, de modo de evitar riesgos a la seguridad de los demás usuarios.
  %li
    D) 	Evitar la modificación o desaparición de cualquier elemento útil a los fines de la investigación administrativa y judicial.
  %li
    E) 	Denunciar el accidente a la autoridad competente.

%p
  Artículo 44.- Todo vehículo automotor y los acoplados remolcados por el mismo que circulen por las vías de tránsito, deberán ser objeto de un contrato de seguro de responsabilidad civil por daños a terceros con la cobertura que determine la ley, que lo declarará obligatorio.

%h4
  MEDIDAS DE PREVENCIÓN Y CONTROL
%p
  Prueba de alcohol u otras drogas en sangre

%p
  Artículo 45.- Todo conductor estará inhabilitado para conducir vehículos de cualquier tipo que se desplacen por la vía pública, cuando la concentración de alcohol, al momento de conducir el vehículo, sea superior a la permitida.
  El Poder Ejecutivo reducirá en forma gradual y en un período no mayor de tres años, la concentración de alcohol en sangre permitida del 0,8 gramos (ocho decigramos) actual a 0,3 gramos (tres decigramos) de alcohol por litro de sangre o su equivalente en términos de espirometría.

%p
  Artículo 46.- A partir de la presente ley, los funcionarios del Ministerio del Interior, de la Dirección Nacional de Transporte del Ministerio de Transporte y Obras Públicas y de las Intendencias Municipales, en el ámbito de sus competencias, especialmente habilitados y capacitados a tal fin, podrán controlar en cualquier persona que conduzca un vehículo en zonas urbanas, suburbanas o rurales del territorio nacional, la eventual presencia y concentración de alcohol u otras drogas psicotrópicas en su organismo, a través de procedimientos de espirometría u otros métodos expresamente establecidos por las autoridades competentes, los que podrán ser ratificados a través de exámenes de sangre, orina u otros análisis clínicos o paraclínicos.
  Al conductor que se le compruebe que conducía contraviniendo los límites indicados en la presente ley, se le retendrá la licencia de conducir y se le aplicarán las siguientes sanciones:
  %ul
    %li
      A) 	En caso de tratarse de una primera infracción, una suspensión de dicha habilitación para conducir de entre seis meses y un año.
    %li
      B) 	En caso de reincidencia, se extenderá dicha sanción hasta el término de dos años.
    %li
      C) 	En caso de nueva reincidencia, se podrá cancelar la licencia de conducir del infractor.
  La autoridad competente reglamentará el procedimiento de rehabilitación.

  Al conductor que se rehusare a los exámenes antes referidos:
  %ul
    %li
      A) 	Se le retendrá la licencia de conducir.
    %li
      B) 	En virtud de su negativa, se le podrá aplicar una multa de hasta 100 UR (cien unidades reajustables).
    %li
      C) 	La negativa constituirá presunción de culpabilidad.
    %li
      D) 	La autoridad competente aplicará una sanción que implicará la inhabilitación para conducir entre seis meses y un año de cometida la primera infracción y, en caso de reincidencia, la misma se extenderá hasta un máximo de dos años.

  La autoridad competente establecerá los protocolos de intervención médica para la extracción y conservación de muestras hemáticas, la realización de los análisis de orina o clínicos y la capacitación técnica del personal inspectivo, determinando también en dichos protocolos, los casos en que un conductor no pueda ser sometido al procedimiento de espirometría.

  La inobservancia de los requisitos establecidos determinará que la prueba sea nula.

  Lo dispuesto en los literales A), B), C) y D) del presente artículo es sin perjuicio de las acciones que acuerdan las leyes penales y civiles a los particulares.

%p
  Artículo 47.- Los conductores de vehículos destinados al transporte de pasajeros, en cualquier modalidad, incluidos los vehículos de transporte de escolares, los de taxímetros, remises y ambulancias, y de vehículos destinados al transporte de carga aptos para una carga útil de más de 3.500 kilogramos, así como los que transporten mercancías peligrosas, incurrirán en infracción si presentan alcohol en sangre.
  La autoridad competente reglamentará la presente disposición, estableciendo que el índice de alcohol en sangre podrá alcanzar un guarismo determinado (medido en decigramos por litro de sangre), cuando se trate de porcentajes de alcohol etílico originados en procesos metabólicos, endócrinos o por otras enfermedades que puedan arrojar similar resultado en los controles.

%p
  Artículo 48.- Cuando ocurran accidentes de tránsito con víctimas personales -lesionados o fallecidos- deberá someterse a los involucrados, peatones o conductores de vehículos, a los exámenes que permitan determinar el grado de eventual intoxicación alcohólica o de otras drogas, previa autorización del médico interviniente. Los funcionarios públicos intervinientes en el caso incurrirán en falta grave en caso de omitir la realización de los exámenes antes referidos.

%p
  Artículo 49.- Cuando un conductor o peatón deba someterse, de conformidad con la disposición anterior, a un análisis de sangre para determinar la concentración de alcohol en su organismo, la correspondiente extracción sólo podrá realizarse por médico, enfermero u otro técnico habilitado y en condiciones sanitarias acordes con las pautas establecidas por la autoridad competente con el asesoramiento del Ministerio de Salud Pública.

%p
  Artículo 50.- A solicitud del conductor de un vehículo que ha sido sometido a los exámenes aludidos en las disposiciones precedentes, el funcionario actuante deberá extenderle un recaudo en el cual deberá constar fecha, hora y lugar en que se realiza la prueba y sus resultados claramente consignados.

%p
  Artículo 51.- La persona que sea sometida a exámenes de espirometría, sangre u orina, en los términos establecidos precedentemente, podrá solicitar inmediatamente de las autoridades competentes del Ministerio de Salud Pública que uno de los técnicos habilitados a esos efectos realice otros exámenes que permitan ratificar o rectificar los resultados de aquellos.

%p
  Artículo 52.- La autoridad competente reglamentará todo lo referido al procedimiento de realización de pruebas o análisis previstos por los artículos precedentes, con el asesoramiento técnico del caso.

%h4
INFRACCIONES Y SANCIONES DE TRÁNSITO

%p
  Artículo 53.- Se considera infracción de tránsito el incumplimiento de cualquier disposición de la normativa vigente.

%p
  Artículo 54.- La Unidad Nacional de Seguridad Vial (UNASEV) propondrá un sistema común de valores de sanciones para las infracciones a las disposiciones referentes al tránsito, de aplicación en todo el territorio nacional por los órganos y autoridades competentes dentro del ámbito de sus respectivas jurisdicciones.

%p
  Artículo 55.- Las sanciones a que dieran lugar las infracciones de tránsito, serán aplicadas por la autoridad competente en cuya jurisdicción se hubieran producido, independientemente del departamento de origen del vehículo.

%p
  Artículo 56.- Los vehículos que no cumplan lo dispuesto en la presente ley y no ofrezcan la debida seguridad en el tránsito, podrán ser retirados de la circulación, sin perjuicio de que la autoridad competente podrá autorizar su desplazamiento precario estableciendo las condiciones en que ello deberá hacerse.

Asimismo los plazos de detención de los vehículos en custodia de la autoridad de tránsito, se ajustarán a lo que establezca la reglamentación.

%p
  Artículo 57 (Derogaciones).- Deróganse el artículo 284 de la Ley Nº 17.296, de 21 de febrero de 2001, y el Título VII de la Ley Nº 16.585, de 22 de setiembre de 1994.

 
%h4
  ANEXO - DEFINICIONES
%ul
  %li
    VÍA: Carretera, camino o calle abierto a la circulación pública.
  %li
    CALZADA: Parte de la vía destinada a la circulación de vehículos.
  %li
    CARRIL: Parte de la calzada, destinada al tránsito de una fila de vehículos.
  %li
    CONDUCTOR: Toda persona habilitada para conducir un vehículo por una vía.
  %li
    LICENCIA DE CONDUCIR: Documento que la autoridad competente otorga a una persona para conducir un vehículo.
  %li
    PEATÓN: Es la persona que circula caminando en la vía pública.
  %li
    VEHÍCULO: Artefacto de libre operación, que sirve para transportar personas o bienes por una vía.
  %li
    MATRÍCULA o PATENTE: Registro vigente del vehículo expedido por la autoridad competente.
  %li
    CARAVANA o CONVOY: Grupo de vehículos, que circulan en una fila por la calzada.
  %li
    BERMA o BANQUINA: Parte de la vía contigua a la calzada, destinada eventualmente a la detención de vehículos y circulación de peatones.
  %li
    INTERSECCIÓN: Área común de calzadas que se cruzan o convergen.
  %li
    PASO A NIVEL: Área común de intersección entre una vía y una línea de ferrocarril.
  %li
    DEMARCACIÓN: Símbolo, palabra o marca, de preferencia longitudinal o transversal, sobre la calzada, para guía de tránsito de vehículos y peatones.
  %li
    ADELANTAR: Maniobra mediante la cual un vehículo pasa a otro que circula en el mismo sentido.
  %li
    ESTACIONAR: Paralizar un vehículo en la vía pública, con o sin el conductor, por un período mayor que el necesario para dejar o recibir pasajeros o cosas.
  %li
    DETENERSE: Paralización breve de un vehículo para alzar o bajar pasajeros, o cosas, pero solo mientras dure la maniobra.
  %li
    PREFERENCIA DE PASO: Prerrogativa de un peatón o conductor de un vehículo de proseguir su marcha.
  %li
    AUTORIDAD COMPETENTE: Órgano nacional o departamental facultado por la presente ley para realizar los actos y cumplir los cometidos previstos en la misma.

%p
  Sala de Sesiones de la Cámara de Representantes, en Montevideo, a 30 de octubre de 2007.

  %ul.inline
    %li 
      ENRIQUE PINTADO,
      Presidente
    %li
      Marti Dalgalarrondo Añón,
      Secretario.

  %ul
    %li MINISTERIO DE TRANSPORTE Y OBRAS PÚBLICAS
    %li MINISTERIO DEL INTERIOR
    %li MINISTERIO DE RELACIONES EXTERIORES
    %li MINISTERIO DE ECONOMÍA Y FINANZAS
    %li MINISTERIO DE DEFENSA NACIONAL
    %li MINISTERIO DE EDUCACIÓN Y CULTURA
    %li MINISTERIO DE INDUSTRIA, ENERGÍA Y MINERÍA
    %li MINISTERIO DE TRABAJO Y SEGURIDAD SOCIAL
    %li MINISTERIO DE SALUD PÚBLICA
    %li MINISTERIO DE GANADERÍA, AGRICULTURA Y PESCA
    %li MINISTERIO DE TURISMO Y DEPORTE
    %li MINISTERIO DE VIVIENDA, ORDENAMIENTO TERRITORIAL Y MEDIO AMBIENTE
    %li MINISTERIO DE DESARROLLO SOCIAL

  Montevideo, 14 de noviembre de 2007.

  Cúmplase, acúsese recibo, comuníquese, publíquese e insértese en el Registro Nacional de Leyes y Decretos.

%ul
  %li
    RODOLFO NIN NOVOA.
    Vicepresidente de la República
    en ejercicio de la Presidencia.
  %li
    VÍCTOR ROSSI.
  %li
    DAISY TOURNÉ.
  %li
    REINALDO GARGANO.
  %li
    MARÍA B.HERRERA.
  %li
    MARIO BERGARA.
  %li
    AZUCENA BERRUTTI.
  %li
    JORGE BROVETTO.
  %li
    VÍCTOR ROSSI.
  %li
    JORGE LEPRA.
  %li
    EDUARDO BONOMI.
  %li
    MARÍA JULIA MUÑOZ.
  %li
    ERNESTO AGAZZI.
  %li
    HÉCTOR LESCANO.
  %li
    MARIANO ARANA.
  %li
    MARINA ARISMENDI.
