%h1 Ley Nº 19.061

%a{href: "https://legislativo.parlamento.gub.uy/temporales/leytemp9076020.htm"} Ver en www.parlamento.gub.uy
%span.pull-right
  Publicada D.O. 22 ene/013 - Nº 28642

%h2 TRÁNSITO Y SEGURIDAD VIAL EN EL TERRITORIO NACIONAL
%h3
  SE DISPONEN NORMAS COMPLEMENTARIAS A LA
  %a{href: "/leyes/18191"}
    LEY Nº 18.191

%p
  El Senado y la Cámara de Representantes de la República Oriental del Uruguay, reunidos en Asamblea General,
  DECRETAN:
  CAPÍTULO I
  DISPOSICIONES RELATIVAS AL TRANSPORTE Y SUJECIÓN DE NIÑOS
  Y ADOLESCENTES EN LOS VEHÍCULOS

%p
  Artículo 1º.- Los niños de 0 a 12 años de edad estarán obligados a viajar en los asientos traseros de conformidad a los sistemas de sujeción y categorías establecidas en la reglamentación que el Poder Ejecutivo establezca.

%p
  Las mismas obligaciones del inciso anterior regirán para los adolescentes hasta los 18 años de edad que midan menos de 1,50 metros de estatura.

%p
  <span class='highlight-law'>Artículo 2º.- Se prohíbe a los conductores de ciclomotores, motocicletas, motos y similares transportar niños o adolescentes de cualquier edad que no alcancen los posa pies de dichos vehículos. El Poder Ejecutivo reglamentará sistemas de posa pies alternativos.</span>

%p
  En los casos de motocicletas con sidecar y similares, se podrá transportar niños y adolescentes, de conformidad a los sistemas de sujeción y categorías establecidas en la reglamentación que el Poder Ejecutivo apruebe.

%p
  <span class='highlight-law'>Artículo 3º.- Las sillas y similares para el transporte de niños y adolescentes deberán cumplir con las normas que se adopten a tales efectos en el país, según la reglamentación que se dicte al respecto.</span>

%p
  CAPÍTULO II
  DISPOSICIONES RELATIVAS AL USO DE CINTURÓN DE SEGURIDAD

%p
  Artículo 4º.- Todos los vehículos del transporte colectivo de pasajeros en los servicios regulares de mediana y larga distancia u ocasionales, o todos aquellos que transiten en rutas nacionales, deberán poseer cinturón de seguridad y su uso será obligatorio.

%p
  Los servicios regulares de mediana y larga distancia podrán transportar pasajeros de pie, de acuerdo a la capacidad técnica admitida.

%p
  El Poder Ejecutivo, mediante la reglamentación respectiva, establecerá las condiciones y plazos que deberán verificarse y podrá establecer excepciones totales o parciales, teniendo en cuenta también las disposiciones referidas en los Capítulos I y II de la presente ley.

%p
  CAPÍTULO III
  DE LOS DISPOSITIVOS Y ELEMENTOS DE SEGURIDAD PASIVA
  PARA LOS VEHÍCULOS AUTOMOTORES

%p
  Artículo 5º.- Todos los vehículos cero kilómetro propulsados a motor de cuatro o más ruedas que se comercialicen en el país deberán contar con sistema de frenos ABS, apoya cabeza en todos sus asientos o plazas, cinturones de seguridad y airbag frontales en las plazas delanteras como mínimo de aquellos vehículos que así lo admitan, de acuerdo con lo que fije la reglamentación respectiva.

%p
  Artículo 6º.- Los requisitos establecidos en el artículo anterior serán exigibles a partir de los dieciocho meses de la promulgación de la presente ley, debiendo tales elementos ajustarse a las disposiciones y exigencias técnicas contenidas en las normas que se adopten a tales efectos por el país, según la reglamentación respectiva.

%p
  CAPÍTULO IV
  DE LOS DISPOSITIVOS Y ELEMENTOS DE SEGURIDAD PASIVA Y
  ACTIVA PARA CICLISTAS Y MOTOCICLISTAS

%p
  <span class='highlight-law'>Artículo 7º.- A partir de los ciento ochenta días de la promulgación de la presente ley, será obligatorio para los conductores y acompañantes de motos, ciclomotores, motocicletas, cuadriciclos o similares, el <strong>uso permanente durante su circulación en todas las vías públicas, de un chaleco o campera reflectivos o, en su defecto, bandas reflectivas</strong> que cumplan con las exigencias técnicas de reflexión de acuerdo con lo que fije la reglamentación.</span>

%p
  <span class='highlight-law'>Artículo 8º.- En caso de que el vehículo posea algún elemento fijo o semi-fijo, que impida parcial o totalmente la visualización de la parte posterior del conductor o acompañante, el mismo deberá contar mínimamente con una banda visible desde atrás de material reflectante, de conformidad con lo que fije la reglamentación.</span>

%p
  <span class='highlight-law'>Artículo 9º.- Los conductores de bicicletas, a partir de los ciento ochenta días de la promulgación de la presente ley, <strong>deberán usar un casco protector de seguridad</strong> que cumpla con las exigencias de las normas que se adopten a tales efectos por el país, según fije la reglamentación respectiva, así como cumplir con todas las disposiciones del artículo 8º de la presente ley, según fije la reglamentación respectiva.</span>

%p
  <span class='highlight-law'>Artículo 10.- A partir de los ciento ochenta días de la promulgación de la presente ley, las bicicletas, motos, ciclomotores, motocicletas, cuadriciclos o similares de cualquier tipo o categoría destinadas a paseo o trabajo, deberán contar para circular con un <strong>equipamiento obligatorio de seguridad</strong> constituido por: <strong>un sistema de freno delantero y trasero, espejos retrovisores, timbre o bocina y un sistema lumínico consistente en un faro de luz blanca y un reflectante del mismo color ubicado conjuntamente con éste en la parte delantera y un faro de luz roja y un reflectante del mismo color, colocados en la parte posterior, ambos visibles a una distancia prudencial en condiciones atmosféricas normales</strong>.

%p
  <strong>Todas las bicicletas que se comercialicen a partir de los ciento ochenta días de la promulgación de la presente ley deberán contener</strong>, además del equipamiento citado en el inciso precedente, <strong>al menos dos dispositivos retro reflectantes en cada una de sus ruedas para posibilitar su reflexión lateral y una banda de material retro reflectante en ambos frentes de cada uno de los pedales.</strong>

%p
  <span class='highlight-law'>Artículo 11.- Las <strong>bicicletas destinadas a competencias deportivas estarán exentas del cumplimiento de estas disposiciones</strong>, cuando se encuentren participando en entrenamiento o en competencia.</span>

%p
  Artículo 12.- A partir de los treinta días de promulgación de la presente ley, <strong>la venta de vehículos</strong> cero kilómetro, ciclomotores, motos, motocicletas, motonetas y similares, <strong>debe ser acompañada con un casco protector certificado como mínimo</strong> y su empadronamiento respectivo, de acuerdo a la normativa departamental.


%p
  CAPÍTULO V
  DE LAS PROHIBICIONES AL CIRCULAR

%p
  Artículo 13.- Se prohíbe a los conductores de cualquier tipo o categoría de vehículos, cuando circulen, el uso de dispositivos de telefonía móvil o cualquier otro medio o sistema de comunicación, excepto cuando el desarrollo de la comunicación tenga lugar sin emplear cualquiera de las manos.

%p
  CAPÍTULO VI
  PROHIBICIÓN DE TRANSPORTE DE PERSONAS

%p
  Artículo 14.- Se prohíbe el transporte de personas en la caja de los vehículos y acoplados, con las excepciones establecidas en el Reglamento Nacional de Circulación Vial.

%p
  El Poder Ejecutivo reglamentará el transporte de personas en los casos de vehículos utilitarios.

%p
  CAPÍTULO VII
  MALETÍN DE SEGURIDAD VIAL

%p
  Artículo 15.- Todos los vehículos automotores de cuatro o más ruedas, que circulen por la vía pública o por la vía privada librada al uso público, deberán contar con un maletín con elementos de primeros auxilios y seguridad vial.

%p
  El Poder Ejecutivo reglamentará la forma de ingreso de los vehículos al sistema, según sean cero kilómetro o vehículos usados y el contenido del maletín.
CAPÍTULO VIII
SANCIONES

%p
  Artículo 16.- Las sanciones que deriven de la aplicación de la presente ley serán fijadas por el Poder Ejecutivo a propuesta de la Unidad Nacional de Seguridad Vial y en consulta con el Congreso de Intendentes.
CAPÍTULO IX
DIFUSIÓN

%p
  Artículo 17.- El Poder Ejecutivo dará la más amplia difusión y promoverá la educación sobre los alcances de la presente ley, durante un período de ciento ochenta días contados a partir de la promulgación de la misma.

%p
  Durante el plazo referido no serán aplicables las sanciones a las que se hace referencia en el artículo 16 de esta ley.

%p
  Artículo 18. (Reglamentación).- El Poder Ejecutivo reglamentará esta ley en un plazo de ciento ochenta días a partir de su promulgación.

%p
  Sala de Sesiones de la Cámara de Senadores, en Montevideo, a 26 de diciembre de 2012.
  %ul
    %li
      DANILO ASTORI,Presidente.
    %li
      Hugo Rodríguez Filippini,
    %li
      Secretario.
    %li
      MINISTERIO DE TRANSPORTE Y OBRAS PÚBLICAS
    %li
      MINISTERIO DEL INTERIOR
    %li
      MINISTERIO DE RELACIONES EXTERIORES
    %li
      MINISTERIO DE ECONOMÍA Y FINANZAS
    %li
      MINISTERIO DE DEFENSA NACIONAL
    %li
      MINISTERIO DE EDUCACIÓN Y CULTURA
    %li
      MINISTERIO DE INDUSTRIA, ENERGÍA Y MINERÍA
    %li
      MINISTERIO DE TRABAJO Y SEGURIDAD SOCIAL
    %li
      MINISTERIO DE SALUD PÚBLICA
    %li
      MINISTERIO DE GANADERÍA, AGRICULTURA Y PESCA
    %li
      MINISTERIO DE TURISMO Y DEPORTE
    %li
      MINISTERIO DE VIVIENDA, ORDENAMIENTO TERRITORIAL Y MEDIO AMBIENTE
    %li
      MINISTERIO DE DESARROLLO SOCIAL

  Montevideo, 6 de enero de 2013.

%p
  Habiendo expirado el plazo previsto en la Constitución de la República y de conformidad con lo establecido por su artículo 144 cúmplase, acúsese recibo, comuníquese, publíquese e insértese en el Registro Nacional de Leyes y Decretos, la Ley por la que se disponen normas complementarias a la ley de tránsito y seguridad vial.
%ul
  %li
    JOSÉ MUJICA.
  %li
    ENRIQUE PINTADO.
  %li
    JORGE VÁZQUEZ.
  %li
    LUIS ALMAGRO.
  %li
    FERNANDO LORENZO.
  %li
    ELEUTERIO FERNÁNDEZ HUIDOBRO.
  %li
    OSCAR GÓMEZ.
  %li
    ROBERTO KREIMERMAN.
  %li
    NELSON LOUSTAUNAU.
  %li
    LEONEL BRIOZZO.
  %li
    ENZO BENECH.
  %li
    LILIAM KECHICHIAN.
  %li
    RAQUEL LEJTREGER.
  %li
    LAURO MELÉNDEZ.
