%h2 Reglamento Nacional de Circulación Vial

%p
  El reglamento obtenido <a href="http://www.montevideo.gub.uy/sites/default/files/Reglamento%20Nacional%20de%20Circulacion%20Vial.pdf">del sitio web de la IM</a> dice lo siguiente respecto a los vehículos de dos ruedas:

<h4>CAPÍTULO XXI - De los vehículos de dos ruedas</h4>

%p
  21.1 Los conductores de motocicletas, motonetas, ciclomotores y bicicletas tienen las obligaciones y los derechos de los demás conductores de vehículos, excepto los que por su naturaleza no les sean aplicables. Deberán además, observar las disposiciones que se expresan en los siguientes artículos.

%p
  21.2 Los conductores de motocicletas, motonetas, ciclomotores y bicicletas:
  %ol.reglamento
    %li deben ir correctamente sentados en sus asientos con pleno dominio de los mecanismos de conducción;
    %li sólo pueden llevar acompañante cuando el vehículo esté habilitado para más de una persona sentada;
    %li tienen prohibido llevar cargas que afecten la normal y segura conducción del vehículo;
    %li no pueden llevar remolque, a menos que el vehículo esté expresamente habilitado para ello;
    %li tienen prohibido circular asidos o sujetos a otro vehículo, al igual que sus acompañantes.

%p
  21.3 Los conductores de motocicletas, motonetas y ciclomotores:
  %ol.reglamento
    %li deberán llevar puesto un casco protector reglamentario, teniendo su acompañante igual obligación;
    %li deberán circular ocupando plenamente una senda de circulación, no pudiendo compartirla ni hacerlo entre sendas o filas contiguas de vehículos, con excepción de los agentes de tránsito en servicio.

%p
  21.4 Los conductores de motocicletas y motonetas deberán llevar los ojos protegidos, excepto si el vehículo tiene
parabrisas protector.

%p
  21.5 Los conductores de bicicletas:
  %ol.reglamento
    %li circularán por el borde derecho de la senda de circulación situada más a la derecha;
    %li pasarán a vehículos detenidos o estacionados con el debido cuidado;
    %li no circularán haciendo zigzags;
    %li mantendrán una distancia prudencial con los demás vehículos;
    %li cuando sean más de uno, deberán circular en fila de a uno, excepto en lugares expresamente habilitados para circular de otra manera;
    %li no podrán circular por aceras u otros lugares no habilitados a la circulación vehicular;
    %li en vías de tránsito con calzada reservada para bicicletas, no podrán circular por la calzada destinada a automotores.

  Fuente: Decreto del Poder Ejecutivo N° 262/984 de 4/VII/984, art. 1°.

%p
  21.6 Para circular por carreteras y caminos principales, los conductores de bicicletas deberán tener una edad mínima de dieciséis años. La autoridad competente podrá autorizar edades menores en otras zonas.